.profile-image{
    max-width: 200px;
    max-height: 200px;
    border: 2px solid rgb(223, 99, 108);
    border-radius: 50%;
}

.table{
    width: 100%;
    border: .5px solid rgb(128, 100, 0);
    border-collapse: collapse;
}

.table tr td{
    padding: 15px 10px;
    border: .5px solid rgb(128, 100, 0);
    
}