<app-navbar></app-navbar>
<div class="bootstrap-wrapper">

    <div class="container">

        <div class="row" style="margin-top: 20px;">

            <div class="col-md-6 offset-md-3">
               <mat-card style="height: auto; margin-top: 20px;">
                <div class="container text-center"
                    style="border-radius: 50px; overflow: hidden; width: 120px; height: 100px; margin-top: 20px; margin-bottom: 20px;">
                    <img src="../../../assets/logo.jpg" style="width: 100%; height: 100%;">
                </div>


                <h1 class="text-center">Login Here !!</h1>

                <form (ngSubmit)="formSubmit()">

                    <!-- username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Email</mat-label>
                        <input
                        [(ngModel)]="loginData.email"
                        name="email"
                        required matInput placeholder="Enter Your User Name">
                    </mat-form-field>

                    <!-- user_password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input
                        [(ngModel)]="loginData.password"
                        name="password"
                        required type="password" matInput placeholder="Enter Your Password">
                    </mat-form-field>

                    <div class="container text-center" style="margin-bottom: 20px;">
                        <button type="submit" mat-raised-button color="primary">Login</button>
                        <button (click)="resetData()" style="margin-left: 50px;" mat-raised-button color="accent">Reset</button>
                    </div>

                </form>
            </mat-card>
            </div>

        </div>
    </div>

</div>