.mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/icons8-category-64.png');
    background-size: cover;
  }
  
  .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  