<mat-card>
  <mat-list>
    <div mat-subheader><h1>All Categories</h1></div>

  
    <mat-list>
     
      <mat-list-item *ngFor="let c of categories">
        <mat-icon  matListItemIcon >category</mat-icon>
        <div matListItemTitle>{{c.title}}</div>
        <div matListItemLine>{{c.description}}</div>
      </mat-list-item>
      <mat-divider></mat-divider>
      
    </mat-list>
    
    <div class="conatiner text-center mt20">
      <button routerLink="/admin/add-category" mat-raised-button color="accent">Add Category</button>
    </div>
  </mat-list>
</mat-card>