<app-navbar></app-navbar>
<div class="bootstrap-wrapper">

    <div class="container">

        <div class="row" style="margin-top: 20px;">

            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center mt20"
                    style="border-radius: 50px; overflow: hidden; width: 120px; height: 100px;">
                    <img src="../../../assets/logo.jpg" style="width: 100%; height: 100%;">
                </div>

          
                <h1 class="text-center">Register Here !!</h1>

                <form (ngSubmit)="formSubmit()">

                    <!-- username field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name or Unique Name</mat-label>
                        <input required [(ngModel)]="User.uniqueName" name="userName"
                         matInput placeholder="Enter Your User Name">
                    </mat-form-field>

                    <!-- user_password field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password must combination of Uppercase,Lowercase,number and special Character</mat-label>
                        <input required [(ngModel)]="User.password" name="password" matInput 
                          [type]="showPassword ? 'text' : 'password'" placeholder="Enter Your Password">
                        <button mat-icon-button matSuffix type="button" (click)="showPassword = !showPassword" 
                          [attr.aria-label]="showPassword ? 'Hide password' : 'Show password'">
                          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                      </mat-form-field>
                      
                      

                    <!-- first Name field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input required [(ngModel)]="User.firstName" name="firstName"
                         type="text" matInput placeholder="Enter Your First Name">
                    </mat-form-field>

                    <!-- Last Name field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input required [(ngModel)]="User.lastName" name="lastName"
                        type="text" matInput placeholder="Enter Last Name">
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input required [(ngModel)]="User.email" name="email"
                         type="email" matInput placeholder="Enter Your Email">
                    </mat-form-field>

                    <!-- Phone field -->
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input required [(ngModel)]="User.mobile" name="mobile" 
                        type="number"  pattern="[0-9]{10}" matInput placeholder="Enter Your Mobile Number">
                        <mat-error *ngIf="mobileFieldInvalid()">Mobile number must be 10 digits</mat-error>
                      </mat-form-field>
                      
                    
                    <div class="text-center mb20">
                        <mat-slide-toggle 
                        name="roleUser"
                        *ngIf="role !== 'USER'"
                        [ngModel]="role === 'ORGANIZATION'"
                        (ngModelChange)="updateRole($event ? 'ORGANIZATION' : '')"
                        style="margin-right: 20px;">
                        Organization
                      </mat-slide-toggle>
                      
                      <mat-slide-toggle
                        name="roleOrganzation"
                        *ngIf="role !== 'ORGANIZATION'"
                        [ngModel]="role === 'USER'"
                        (ngModelChange)="updateRole($event ? 'USER' : '')">
                        Participant
                      </mat-slide-toggle>
                    </div>
                    
                    <div class="container text-center mb20">
                        <button type="submit" mat-raised-button color="primary">Register</button>
                        <button (click)="resetUser()" style="margin-left: 50px;" mat-raised-button color="accent">Reset</button>
                    </div>
                    

                </form>
            </mat-card>
            </div>

        </div>
    </div>

</div>