<!-- <app-navbar></app-navbar> -->
<div class="bootstrap-wrapper">
   
    <div class="container-fluid">
       
        <div class="row">

            <div class="col-md-2 mt20">
                <!-- insturction  -->
                <mat-card>
                    <mat-card-content>
                        <h2><b>Instructions</b></h2>
                        <div class="instruction-list">
                            <ul>
                                <li>Follow these instructions carefully to ensure a smooth experience:</li>
                                <li>Do not refresh the page; doing so will provide you with new questions.</li>
                                <li>Stay on this tab throughout the activity to avoid disqualification.</li>
                                <li>Do not minimize the browser window; it may result in disqualification.</li>
                                <li>Complete the task within the allocated time limit.</li>
                                <li>Ensure a stable internet connection to prevent any interruptions.</li>
                                <li>Read each question thoroughly before providing your response.</li>
                                <li>Submit your answers within the specified format, if required.</li>
                                <li>Feel free to ask for clarification if any instructions are unclear.</li>
                                <li>Take your time and think before answering each question.</li>
                                <li>Remember, there are no right or wrong answers; your insights matter.</li>
                                <li>Keep a positive attitude and enjoy the activity!</li>
                            </ul>
                        </div>
                    </mat-card-content>
                </mat-card>
                
                
                        </div>
                        <div class="col-md-8">
                
                            <ng-container *ngIf="questions">
                <mat-card class="mt20">
                    <h1 class="ml20 mt20">Ongoing Quiz: <b>{{questions[0].quiz.title}} </b></h1>
                </mat-card>
                                
                               
                            </ng-container>
                            <div class="scrollable-container">
                            <mat-card *ngFor="let q of questions;let i=index" class="mt10">
                            
                                <mat-card-content>
                                    <p><b>Q{{i+1}})</b> <span class="ml20" [innerHTML]="q.content"></span> </p>
                                  
                             
                             <mat-divider></mat-divider>
                               
                             <div class="row mt20">
                                <div class="col-md-6">
                                    <input [(ngModel)]="q.givenAnswer"
                                     type="radio" 
                                    [value]="q.option_1"
                                    [name]="'optionGroup' + i"
                                    >
                                    {{q.option_1}}
                                </div>
                                <div class="col-md-6">
                                    <input [(ngModel)]="q.givenAnswer"
                                     type="radio" 
                                    [value]="q.option_2"
                                    [name]="'optionGroup' + i"
                                    >
                                    {{q.option_2}}
                                </div>
                            </div>
                            <div class="row mt20">
                                <div class="col-md-6">
                                    <input *ngIf="q.option_3" [(ngModel)]="q.givenAnswer"
                                    type="radio" 
                                    [value]="q.option_3"
                                    [name]="'optionGroup' + i"
                                    >
                                    {{q.option_3}}
                                </div>
                                <div class="col-md-6">
                                    <input *ngIf="q.option_4"
                                     [(ngModel)]="q.givenAnswer"
                                     type="radio" 
                                    [value]="q.option_4"
                                    [name]="'optionGroup' + i"
                                    >
                                    {{q.option_4}}
                                </div>
                            </div>
                              
                            </mat-card-content>
                               
                            </mat-card>
                            </div>

                            <div class="container text-center mt20">
                                <button (click)="submitQuiz()" 
                                mat-raised-button color="accent">Submit</button>
                            </div>
                        </div>
                        <div class="col-md-2 mt20">
                            <!-- time  -->
                            <mat-card >
                                <mat-card-header>
                                
                                <mat-card-title> Progress</mat-card-title>
                                <mat-card-subtitle>Quiz will automatically Submitted when time ends</mat-card-subtitle>
                                 
                            </mat-card-header>
                                <mat-card-content>
                                    <h1><b>{{getFormattedTime()}}</b></h1>
                                    <mat-spinner style="margin: auto;"
                                    mode="determinate"
                                    [value]="(timer / (questions?.length * 2 * 60)) * 100"

                                     mat color="accent"></mat-spinner>
                                </mat-card-content>
                            </mat-card>
                        </div>

        </div>
    </div>
</div>
