
<mat-card>
    <mat-action-list>
        <div class="mat-card">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-content class="center-content">
              <h2>Admin Access</h2>
            </mat-card-content>
          </div>
          
        <button routerLink="/admin" mat-list-item>
            <mat-icon class="mat-icon" mat-list-icon>person</mat-icon>
            Administrator</button>

       <button mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>account_circle</mat-icon>
   Profile</button>
       <button mat-list-item routerLink="/admin/categories">
        <mat-icon mat-list-icon>category</mat-icon>
   Categories</button>
       <button mat-list-item routerLink="/admin/add-category">
        <mat-icon mat-list-icon>add_circle</mat-icon>
   Add Categories</button>
       <button mat-list-item routerLink="/admin/quizzes">
        <mat-icon mat-list-icon>quize</mat-icon>
   Quize</button>
       <button mat-list-item routerLink="/admin/add-quiz">
        <mat-icon mat-list-icon>add</mat-icon>
   Add Quize</button>
   <mat-divider style="border: 0.5px solid rgba(108, 31, 31, 0.782)"></mat-divider>
       <button (click)="logout()" mat-list-item routerLink="/admin/profile">
        <mat-icon mat-list-icon>logout</mat-icon>
   Logout</button>
    </mat-action-list>
</mat-card>
