.example-spacer {
    flex: 1 1 auto;
  }
  
  .mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
  
  .toolbar-content {
    margin-top: 100px; /* Adjust the value as needed */
  }
  