.example-card {
    max-width: 500px;
  }
  
  .example-header-image {
    background-image: url('../../../../assets/7718868.jpg');
    background-size: cover;
  }

  .scrollable-container {
    height: 750px; /* Adjust the height as needed */
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    /* background-color: rgb(202, 106, 124); */
  }

  @media only screen and (max-width: 600px) {
    .mat-card {
      padding: 10px;
    }
  }

  mat-card{
    background-color:rgb(252, 253, 235);
}
