<h1 class="container mt20 text-center">Questions Of Quiz:  <b>{{qTitle}}</b></h1>
<div class="scrollable-container">
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">

                <mat-card *ngFor="let q of question;let i=index" class="mt20">

                    <mat-card-content>

                        <p>
                           <b> Q{{i+1}}) </b> <span class="ml20" [innerHTML]="q.content"></span>
                        </p>

                        <div class="container-fluid">
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <p> <b>a)</b> {{ q.option_1}}</p>
                                </div>

                                <div class="col-md-6">
                                   <b>b)</b> {{ q.option_1}}
                                </div>

                                <div class="col-md-6">
                                   <b>c)</b> {{q.option_1}}
                                </div>

                                <div class="col-md-6">
                                   <b>d)</b> {{q.option_1}}
                                </div>
                            </div>

                            <mat-divider class="mt20"></mat-divider>

                            <p class="mt20"><b>Correct Answer: </b>{{q.answer}}</p>
                        </div>

                    </mat-card-content>

                  <mat-card-actions class="centered-actions">
                    <button
                    (click)="updateQuestion(q.quesId)"
                     mat-raised-button color="primary">Update</button>
                    <button (click)="deleteQuestion(q.quesId)" mat-raised-button color="warn">Delete</button>
                  </mat-card-actions>

                </mat-card>

                
                <button class="centered-button mt20 mb20" [routerLink]="'/admin/add-question/'+qId+'/'+qTitle" mat-raised-button color="primary">Add Question</button>

        </div>
    </div>
</div>
</div>
