<body>
    <div class="scrollable-container">
    <div class="container">
      <div class="mat-card">
        <div class="mat-card-header">
          <div class="eximify-logo"></div>
          <h1 class="text-center"><b>Welcome to the Examify</b></h1>
          <h1 class="text-center">You are Login as an ADMIN</h1>
        </div>
        <div class="mat-card-content">
          <div><p class="text-center">
            Eximify Portal is an innovative platform designed to help exam controllers manage and organize exams efficiently.
            With its user-friendly interface and powerful features, it simplifies the entire exam management process, from creating exam schedules to grading and result management.
          </p></div>
          <p>
            Key features of Eximify Portal include:
          </p>
          <h1>Admin Dashboard</h1>
  
          <h2>Admin Capabilities</h2>
          <ul>
            <li>Create categories</li>
            <li>Update categories</li>
            <li>Delete categories</li>
          </ul>
          
          <h2>Category Management</h2>
          <ul>
            <li>Inside each category:
              <ul>
                <li>Add quizzes</li>
                <li>Update quizzes</li>
                <li>Delete quizzes</li>
                <li>View quizzes</li>
                <li>Activate quizzes as live or disable them</li>
              </ul>
            </li>
          </ul>
          
          <h2>Quiz Management</h2>
          <ul>
            <li>Inside each quiz:
              <ul>
                <li>Add questions</li>
                <li>Delete questions</li>
                <li>Update questions</li>
              </ul>
            </li>
          </ul>
          
          <h2>Profile Details</h2>
          <ul>
            <li>View admin profile details</li>
          </ul>
          
          <h2>Overview Pages</h2>
          <ul>
            <li>See all categories on a single page</li>
            <li>View all quizzes on a single page</li>
          </ul>
          
          <h2>Authorization</h2>
          <ul>
            <li>The admin is authorized to access all services</li>
          </ul>
        
        </div>
      </div>
    </div>
</div>
  </body>
  